


@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
.rf-card-row {
    display: none;
  }
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
  
  #m{
    margin-left: "-20px";
  }

  #trash{
    max-width: 1200px !important;
    height: 380px;
    width: 600px;
    margin-left: -60px;
  }
  @media (max-width: 768px) {
    .rf-card-desktop {
      display: none;
    }
    .kave-btn {
      margin-left: 1px !important;
    }
    .btn-wrapper{
      margin-left: -55px !important;
      margin-top: 20px;
    }

    #k{
      margin-left: -20px;
    }
    #wj{
      margin-left: -20px;
    }
    #m{
      margin-left: 0px;
    }
    #fd{
      margin-left: 0px;
    }
    #cu{
      margin-left: 0px;
    }
    #fw{
     
    position: relative;
    }
    .rf-card-row {
      display: flex;
    }
    .page-header .content-center {
      position: absolute;
      
    }
   
  }
  @media (max-width: 375px) {
#f{
  font-size: 25px;
  margin-top: 260px;
}

#k{
  margin-left: -20px;
}
#wj{
  margin-left: -20px;
}
.kave-btn {
  margin-left: 1px !important;
}
.btn-wrapper{
}
#fish{
  background-size: 400px;
}
#m{
  margin-left: 0px;
}
#fd{
  margin-left: 0px;
}
#cu{
  margin-left: 0px;
}
.page-header .content-center {
  position: relative;
  top:350px !important;
      }
    }
    img {
 
      max-width: 100%;
        height: 130px;
      
    }
    .w-100 {
      width: 100% !important;
      height: 350px !important;
  }
  @media (max-width: 480px) {
    .rf-card-row {
      display: block;
    }

    img#fw {
      position: inherit !important;
    }
    #k{
      margin-left: -20px;
    }
    #wj{
      margin-left: -20px;
    }
    #m{
      margin-left: -4px !important;
    }
    #c{
      margin-left: -2px !important;
    }
    #fd{
      margin-left: 3px !important;
    }
    #cu{
      margin-left: 3px !important;
    }
    #k{
      margin-left: -20px !important;
    }




    h1#dyk {
      top: 190px;
    }
    img.d-block.w-100 {
      height: 280px !important;
    }
    h1.profile-title.text-left {
      padding: 0px 15px;
      font-size: 30px;
      display: block;
      text-align: center !important;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    p.profile-description.text-left {
      padding: 10px;
      margin: 30px 0px 20px;
      text-align: center !important;
      width: 100%;
      margin-top: 55px;
    }
    #fw {
      position: inherit !important;
      margin: 0px;
      padding: 0px;
    }
    img#fw {
      position: inherit !important;
      padding: 0;
      margin: 0;
    }
    #j {
      margin-left: "20px" !important;
      position: relative;
      left: 0;
    }
    h6.price-h {
      text-align: left;
    }
    span {
      color: #fff;
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffffff69, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff;
    }
    .card-coin.card-plain.card {
      margin-top: 10px;
    }
    .card-header {
      margin: 0px !important;
      height: auto;
      padding: 15px 10px;
    }
    h4.mint-head {
      margin: auto;
    }
    h4.mint-title {
      margin: 20px 0px 0px;
    }
    .btn-wrapper.profile {
      display: flex;
      align-items: center;
      margin-top: 20px;
      position: inherit !important;
      margin-left: 10px !important;
      left: 0;
      right: 0;
    }
    img#k {
      width: 200px;
      height: auto;
      display: block;
      margin-left: auto !important;
    }
    h1.react-reveal.fwa {
      font-size: 32px !important;
      margin-bottom: 0;
    }
    footer .profile-page .title {
      text-align: center !important;
      margin-top: 30px;
    }
    .navbar .navbar-nav a.nav-link p {
      padding: 10px;
    }


   























    #fish{
      background-size: 400px;
    }
    .mint-title {
        color: #5d636f;
        font-weight: 900;
        font-family: "Times New Roman";
        /* line-height: 25px; */
        font-size: 1.5rem;
        margin-left: 20px;
        margin-right: 1px;
        margin-top: 60px;
        /* margin-right: 100px; */
    }
    .deAJGx {
      max-width: 81.5vw;
      margin: 0px auto;
  }
@media  (max-width:768px) {
  .navbar .container{
    display: block !important;
    max-width: 100% !important;
    width: 100%;
    position: inherit !important;
  }
  .navbar .container .navbar-translate{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container, .container-sm, .container-md {
   
    animation: none !important;
  }
}

.fIctuh {
  width: 100%;
  height: 6.25rem;
  margin-top: 6.25rem;
  position: relative;
}

#gts{
  margin-left: "-20px";
}
p{
  font-family: "cursive" !important;
}
.iWIrfR {
  width: 100%;
  height: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  position: relative;
}
.dJdFwe {
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
}
.iWIrfR .flicking {
  cursor: grab;
}
.section-features .flicking {
  position: relative;
  margin: 0 auto;
  width: 76.25rem;
  max-width: 80vw;
}
.section-features .flicking:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 20px);
  height: 37.5rem;
  left: -1.25rem;
  top: 0;
  background: hsla(0,0%,100%,.3);
  border: 1px solid #fff;
  opacity: .25;
  -webkit-mask: linear-gradient(
180deg,#000 0,transparent);
  mask: linear-gradient(180deg,#000 0,transparent);
}.bQjbIu .flicking-viewport {
  padding-left: 10vw;
  -webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10vw, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
}
@media screen and (max-width: 60em){}
.section-features .flicking-viewport {
    height: 42.5rem!important;
}}

.section-features .flicking-viewport {
  padding-left: 0.625rem!important;
  padding-right: 0.625rem!important;
  position: relative!important;
  margin: 0 auto!important;
  left: -0.625rem!important;
  height: 56.25rem!important;
  -webkit-mask: linear-gradient(
90deg,transparent 0,#000 2%,#000 97.5%,transparent)!important;
  mask: linear-gradient(90deg,transparent 0,#000 2%,#000 97.5%,transparent)!important;
}
.bQjbIu .flicking-camera {
  height: inherit !important;
}
.bQjbIu * {
  -webkit-user-drag: none;
  user-select: none;
}
.section-features .flicking-panel {
  width: 100%;
  position: relative;
}.bQjbIu * {
  -webkit-user-drag: none;
  user-select: none;
}.eUylAY {
  width: 100%;
  height: inherit;
  position: relative;
}.section-features article {
  padding-top: 1.25rem;
  width: 100%;
}.section-features figure {
  height: 100%;
  margin-bottom: unset;
  -webkit-mask: linear-gradient(
180deg,#000 50%,transparent);
  mask: linear-gradient(180deg,#000 50%,transparent);
}.jpQkXi {
  margin-bottom: 1.875rem;
  position: relative;
}.jpQkXi a {
  width: 100%;
  display: block;
  position: relative;
  cursor: zoom-in;
}.jpQkXi img {
  width: 100%;
  min-height: 15rem;
  display: block;
  object-fit: cover;
}.kCALkZ {
  display: flex;
  flex-direction: column;
  margin-left: 7vw;
  position: relative;
  z-index: 1;
  width: 60%;
  bottom: 3.125rem;
}.hdycWs {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1.25rem;
}@media (min-width: 48.0625em)
{.hdycWs img {
  width: 2.875rem;
  height: 2.875rem;
}.lddavZ {
  margin-left: 0.9375rem;
}.kJEQYW {
  color: rgb(216, 216, 216);
}
.kJEQYW {
    flex-basis: 52%;
}
#m{
  margin-left: 0px;
}
#fd{
  margin-left: 0px;
}
#cu{
  margin-left: 0px;
}
}
ul ,ol {
  list-style: none;
}
    #fw {
        left: -119px;
        position: relative;
        top: 25p;
        top: 60px;
    }
    
    .rf-card-imgbx {
      text-align: center;
    }
    #f{
      font-size: 22px;
      margin-top: 300px;
      margin-left: 26px;
      position: relative;
      left: -30px;
      top: 30px;
    }

  @media (max-width: 320px) {
    .rf-card-row {
      display: block;
    }
    #fw{
        left: -119px;
        position: relative;
        top: 25p;
        top: 60px;
    }
    #m{
      margin-left: 0px;
    }
    #fd{
      margin-left: 0px;
    }
    #cu{
      margin-left: 0px;
    }
    #c{
      margin-left: 0px;
    }
    .rf-card-imgbx {
      text-align: center;
    }
    #f{
      font-size: 20px;
      margin-top: 260px;
    }
    #fish{
      background-size: 400px;
    }
  }
  #f{

    color: #FFFFFF;
    margin: 1.75rem 0 0.875rem;
    display: inline-block;
    position: relative;
    margin-top: 30px;
    min-height: 32px;
    font-family: "Orbitron", "Times New Roman", serif;
    font-weight: 700;
    text-decoration: none;
  }
  @media screen and (max-width: 991px){
  .section-safe img.img-fluid {
      /* display: none; */
      display: flex !important;
  }
}

@media screen and (max-width: 991px){
.navbar-collapse {
    position: absolute;
    width: calc(100% - 1rem) !important;
    height: auto !important;
    left: -25px !important;
    top: -19px !important;
    margin: 0.7rem;
    background: #1f2251;
    border-radius: 0.2857rem;
    padding: 1.4rem;
}
}

  h1 {
    font-family: "Orbitron", sans-serif;
    color:rgb(255 255 255 / 80%);
   
  }
  .section {
    padding: 0px 0px !important;
    position: relative;
}
  .char {
    color: #fff;
    transition: color ease-out 0.3s, text-shadow ease-out 0.3s;
    text-shadow: 0 0 4rem #fff;
  }
  .char.fade-in {
    color: #0cf;
    transition: color ease-out 0.3s, text-shadow ease-out 0.3s;
    text-shadow: 0 0 1rem #0cf;
  }
 #fw{
  display: inline-block;
  color: #fff;
  border-color: #00bbb8;
  /* background: rgba(0,187,184,.7); */
  box-shadow: inset 0 0 1.25em rgb(0 187 184 / 10%);
  font-family: industry,Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-weight: 500;
  padding: 0.9375rem 1.5625rem 0.75rem;
  position: relative;
  display: inline-flex;
  justify-content: center;
  font-size: 1rem;
  color: #fff;
  /* border: 1px solid hsla(0,0%,100%,.8); */
  /* background: hsla(0,0%,100%,.1); */
  /* transition: .2s cubic-bezier(.215,.61,.355,1); */
  /* transition-property: color,border-color,box-shadow; */

 }
 #k{
  margin-left: -35px;
 }
 .card.card-coin img {
  width: 450px;
  width: 145px !important;
}
 .section-coins {
  /* margin-top: 200px; */

  margin-top: 0px !important;
}

#few{
  font-size: 4.3em;
}
#fo{
  font-size: 19px !important;
}



#fd {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 50px;
	line-height: .75;
  margin-left: 40px !important;
  text-shadow: none !important;
  position: relative;
  left: -40px;
	margin: 10px 0;
}
/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}

.cards {
  border-radius: 16px;
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
  min-height: 500px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
  background-size: cover;
}

.info {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #fff;
  transform: translateY(100%)
    translateY(-88px)
    translateZ(0);
  transition: transform 0.5s ease-out;
}

.info:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: ' ';
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(-100%)
    translateY(88px)
    translateZ(0);
  transition: transform 0.5s ease-out;
}

.cards:hover .info,
.cards:hover .info:before {
  transform: translateY(0) translateZ(0);
}

[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

[data-aos][data-aos][data-aos-duration="1500"], body[data-aos-duration="1500"] [data-aos] {
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
}.qttEg {
  padding: 80px 0px;
  text-align: center;
}

div #wrp.wrappers{
  margin-top: -10px;

}
@media screen and (max-width: 40em){
.section-buy__title {
    margin-bottom: 1.25rem;
}}
.section-buy__title {
  margin: 0 auto 6.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 0 100%;
}
@media screen and (max-width: 40em){
.section-buy__title .-heading {
    margin-bottom: 0.9375rem;
    font-size: 2rem;
}}
.section-buy__title>* {
  z-index: 3;
  flex: 0 0 100%;
}
.section-about-wrapper .-heading, .section-buy__title .-heading, .section-home-wrapper .-heading, .section-updates__title .-heading, .styled-h1, .styled h1:not(.do-unstyle) {
  font-family: nimbus-sans-extended,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: .875;
  letter-spacing: -.05em;
  word-wrap: break-word;
}
.section-buy__title .-label {
  margin-bottom: 0.625rem;
}

.section-about-wrapper .-label, .section-buy__options .-features>li, .section-buy__options .-notice, .section-buy__title .-label, .section-home-wrapper .-label, .section-updates__title .-label, .styled-h4, .styled h4:not(.do-unstyle) {
  font-family: industry,Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}
.text-info {
  color: #f4faff !important;
  font-size: 1.125rem;
  margin-top: -25px;
  position: relative;
  top:-55px;
}
.section-buy__title .-heading {
  max-width: 51.25rem;
  margin: 0 auto 1.875rem;
  font-size: 3.75rem;
}.section-buy__title .-description {
  margin-bottom: 2.5rem;
}
 #fs{
  color: #fff;
  border-color: #00bbb8;
  background: rgba(0,187,184,.7);
  box-shadow: inset 0 0 1.25em rgb(0 187 184 / 10%);
  font-family: industry,Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-weight: 500;
    padding: 0.9375rem 1.5625rem 0.75rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    font-size: 1rem;
    color: #fff;
    border: 1px solid hsla(0,0%,100%,.8);
    background: hsla(0,0%,100%,.1);
    transition: .2s cubic-bezier(.215,.61,.355,1);
    transition-property: color,border-color,box-shadow;
 }
 
 .btn-wrapper {
    
    align-items: center;
    justify-content: center;
}
.section-about video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 1;
}
.section-about-wrapper {
  z-index: 3;
  text-align: center;margin-top: 90px;
}

@media screen and (min-width: 48.0625em){
.section-about-wrapper {
    max-width: 76.25rem;
}
#m{
  margin-left: 0px;
}
#fd{
  margin-left: 0px;
}
#cu{
  margin-left: 0px;
}
}
.section-about-wrapper .-label {
  margin-bottom: 0.625rem;
}

.button--color-terracota {
  color: #fff;
  font-family: industry,Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-weight: 500;
    padding: 0.9375rem 1.5625rem 0.75rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    font-size: 1rem;
    color: #fff;    top: -20px;
    border: 1px solid hsla(0,0%,100%,.8);
    background: hsla(0,0%,100%,.1);
    transition: .2s cubic-bezier(.215,.61,.355,1);
    transition-property: color,border-color,box-shadow;
  border-color: #ff8d34;
  background: rgba(255,141,52,.6);
  box-shadow: inset 0 0 1.25em rgb(255 141 52 / 10%);
}
@media screen and (max-width: 64em){
.section-about-wrapper .-heading, .section-buy__title .-heading, .section-home-wrapper .-heading, .section-updates__title .-heading, .styled-h1, .styled h1:not(.do-unstyle) {
    font-size: 3.75rem;
}
}
.section-about-wrapper .-description {
  margin-bottom: 2.5rem;
}
.section-about-wrapper .-heading {
  max-width: 45rem;
  margin: 0 auto 1.875rem;
}

.section-about-wrapper .-heading, .section-buy__title .-heading, .section-home-wrapper .-heading, .section-updates__title .-heading, .styled-h1, .styled h1:not(.do-unstyle) {
  font-family: nimbus-sans-extended,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: .875;
  letter-spacing: -.05em;
  word-wrap: break-word;
}

.section-about-wrapper .-label, .section-buy__options .-features>li, .section-buy__options .-notice, .section-buy__title .-label, .section-home-wrapper .-label, .section-updates__title .-label, .styled-h4, .styled h4:not(.do-unstyle) {
  font-family: industry,Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  text-transform: uppercase;
}
article, aside, figcaption, figure, section{
    display: block;
}
.section-about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  margin: -16vh auto 0;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 -4px 10px rgb(0 0 0 / 25%);
  will-change: transform;
}
.centered {
  position: absolute;
  left: 50vw;
  top: 50vh;
  text-align: center;
}
.kave-btn2 {
  position: relative;
  border: solid 1px rgba(0, 214, 252, 0.3);
  background: none;
  color: rgb(203 196 196 / 80%);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1.8px;
  width: 200px;
  height: 70px;
  padding: 0;
  transition: all 0.25s ease;
  outline: none;
}
.kave-btn2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 60px;
  height: 1px;
  transform: translateY(-1px);
  background: #00d6fc;
  transition: all 0.25s ease;
}
.kave-btn2:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 60px;
  height: 1px;
  transform: translateY(1px);
  background: #00d6fc;
  transition: all 0.25s ease;
}
.kave-btn2:hover {
  box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
  color: #00d6fc;
  text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
}
.kave-btn2:hover.kave-btn:before {
  left: 0;
  width: 20px;
}
.kave-btn2:hover.kave-btn:after {
  right: 0;
  width: 20px;
}
.kave-btn2:hover .kave-line:before {
  bottom: 0;
}
.kave-btn2:hover .kave-line:after {
  top: 0;
}
.kave-line:before {
  content: "";
  position: absolute;
  bottom: 30%;
  right: 0;
  width: 1px;
  height: 20px;
  transform: translateX(1px);
  background: #00d6fc;
  transition: all 0.25s ease;
}
.kave-line:after {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 1px;
  height: 20px;
  transform: translateX(-1px);
  background: #00d6fc;
  transition: all 0.25s ease;
}
/* ---------- Fog ---------- */
.fogwrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}
#foglayer_01, #foglayer_02, #foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}
#foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}
#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  -moz-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
}
#foglayer_02, #foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  -moz-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/ 
#foglayer_01 .image01, #foglayer_01 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png") center center/cover no-repeat transparent;
}
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02{
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png") center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@-moz-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@-o-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@-moz-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@-o-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@-moz-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@-o-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@keyframes foglayer_03_opacity {
  0% { opacity: .8; }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@-moz-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@-o-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}

@media only screen
  and (min-width: 280px)
  and (max-width: 767px) {
    #foglayer_01 .image01, #foglayer_01 .image02,
    #foglayer_02 .image01, #foglayer_02 .image02,
    #foglayer_03 .image01, #foglayer_03 .image02 {
      width: 100%;
    }
  }
.kave-btn {
  position: relative;
  border: solid 1px rgba(0, 214, 252, 0.3);
  background: #161618;
  color: rgba(0, 214, 252, 0.5);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1.8px;
  width: 200px;
  height: 70px;
  margin-left: 20px;
  padding: 0;
  transition: all 0.25s ease;
  outline: none;
}
.kave-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 60px;
  height: 1px;
  transform: translateY(-1px);
  background: #00d6fc;
  transition: all 0.25s ease;
}
.kave-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 60px;
  height: 1px;
  transform: translateY(1px);
  background: #00d6fc;
  transition: all 0.25s ease;
}
.kave-btn:hover {
  box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
  color: #00d6fc;
  text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
}
.kave-btn:hover.kave-btn:before {
  left: 0;
  width: 20px;
}
.kave-btn:hover.kave-btn:after {
  right: 0;
  width: 20px;
}
.kave-btn:hover .kave-line:before {
  bottom: 0;
}
.kave-btn:hover .kave-line:after {
  top: 0;
}
.kave-line:before {
  content: "";
  position: absolute;
  bottom: 30%;
  right: 0;
  width: 1px;
  height: 20px;
  transform: translateX(1px);
  background: #00d6fc;
  transition: all 0.25s ease;
}
.kave-line:after {
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  width: 1px;
  height: 20px;
  transform: translateX(-1px);
  background: #00d6fc;
  transition: all 0.25s ease;
}
.cyberspace {
  position: relative;
  font-family: 'Cyberspace-Raceway-Back',sans-serif;
  font-size: 4rem;
  color: black;
  -webkit-clip: background;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #87d1e4;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: #87d1e4;
  filter: url(#extrude);
}



h4{
  font-family: Iceland, sans-serif;
  font-size: 2.25em;
  
}

@media (max-width: 405px){
  #f{

    margin-top: 960px;
    margin-left: 55px;
  }
  #fish{
    background-size: 400px;
  }
}
#m{
  margin-left: 0px;
}
#fd{
  margin-left: 0px;
}
#cu{
  margin-left: 0px;
}
.kave-btn {
  margin-left: 1px !important;
}
.btn-wrapper{
  
}
.slides {
  display: grid;
}
.slides > .slide {
  grid-area: 1/-1;
}
.slides > button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  color: white;
  position: absolute;
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
  top: 30%;
  transition: opacity 0.3s;
  opacity: 0.7;
  z-index: 5;
}
.slides > button:hover {
  opacity: 1;
}
.slides > button:focus {
  outline: none;
}
.slides > button:first-child {
  left: -50%;
}
.slides > button:last-child {
  right: -50%;
}

.slideContent {
  width: 30vw;
  height: 40vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;
  display: grid;
  align-content: center;
  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset))) rotateY(calc(-45deg * var(--dir)));
}

.slideContentInner {
  transform-style: preserve-3d;
  transform: translateZ(2rem);
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0;
}
.slideContentInner .slideSubtitle,
.slideContentInner .slideTitle {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.2ch;
  text-transform: uppercase;
  margin: 0;
}
.slideContentInner .slideSubtitle::before {
  content: "— ";
}
.slideContentInner .slideDescription {
  margin: 0;
  font-size: 0.8rem;
  letter-spacing: 0.2ch;
}

.slideBackground {
  position: fixed;
  top: 0;
  left: -10%;
  right: -10%;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  pointer-events: none;
  transform: translateX(calc(10% * var(--dir)));
}

.slide[data-active] {
  z-index: 2;
  pointer-events: auto;
}
.slide[data-active] .slideBackground {
  opacity: 0.2;
  transform: none;
}
.slide[data-active] .slideContentInner {
  opacity: 1;
}
.slide[data-active] .slideContent {
  --x: calc(var(--px) - 0.5);
  --y: calc(var(--py) - 0.5);
  opacity: 1;
  transform: perspective(1000px);
}
.slide[data-active] .slideContent:hover {
  transition: none;
  transform: perspective(1000px) rotateY(calc(var(--x) * 45deg)) rotateX(calc(var(--y) * -45deg));
}.fogwrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}
#foglayer_01, #foglayer_02, #foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}
#foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}
#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  -moz-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
}
#foglayer_02, #foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  -moz-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/ 
#foglayer_01 .image01, #foglayer_01 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png") center center/cover no-repeat transparent;
}
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02{
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png") center center/cover no-repeat transparent;
}
#fd{
  height: 70px;
    margin-top: 30px;
    width: 300px;
    margin-left: 50px;
}
#m{
  width: 190px;
    margin-left: 50px;
}
#c{
  height: 60px;
  width: 290px;
    margin-top: 35px;
    margin-left: 55px;
}
#cu{
  height: 55px;
    margin-top: 40px;
    margin-left: 5px;
}


/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@-moz-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@-o-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@-moz-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@-o-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@-moz-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@-o-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@keyframes foglayer_03_opacity {
  0% { opacity: .8; }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@-moz-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@-o-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
#b{
  margin-top: 17px;
}
@media only screen
  and (min-width: 280px)
  and (max-width: 767px) {
    #foglayer_01 .image01, #foglayer_01 .image02,
    #foglayer_02 .image01, #foglayer_02 .image02,
    #foglayer_03 .image01, #foglayer_03 .image02 {
      width: 100%;
    }
  }
  .partner-title {
    text-align: center;
    padding-top: 100px;
}

.partner-title h2 {
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding-bottom: 25px;
    margin-bottom: 35px;
    font-size: 42px;
    font-weight: bold;
    position: relative;
    color: #111111;
}

.partner-title h2:after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 2px;
    background: #860132;
    -webkit-box-shadow: 0 0px 1px 1px #cf99ad;
            box-shadow: 0 0px 1px 1px #cf99ad;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
}

.partner-list {
    background: #f6f6f6;
    border-radius: 15px;
    overflow: hidden;
    padding: 30px 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 90px;
}

.single-partner {
    -ms-flex-preferred-size: 33.3333334%;
        flex-basis: 33.3333334%;
    text-align: center;
    padding: 30px 10px;
}

.single-partner img {
    height: 115px;
}

.single-organi {
    background: #f8f8f8;
    padding: 30px 50px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.organi-logo img {
    display: block;
    margin-bottom: 15px;
}

.organi-name h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;
}

.org-tag ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}

.org-tag ul a {
    font-size: 13px;
    color: #858585;
    padding: 0 3px;
}

.org-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #efefef;
}

.org-tag img {
    margin-right: 5px;
}

.about-org p {
    font-size: 12px;
    color: #aaaaaa;
}

.about-org.top {
    border-bottom: 1px solid #efefef;
    margin-bottom: 15px;
}

.about-org h6 {
    font-size: 14px;
    font-weight: bold;
    color: #111111;
}

.learn-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 15px 45px;
    background: #860132;
    color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border: 1px solid transparent;
    border-radius: 35px;
    font-size: 12px;
    line-height: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.learn-btn i {
    margin: 0 0px 0px 5px;
}

.organi-logo img {
    display: block;
    height: 80px;
}

/* 
================================================
4. Partner Area End
================================================
*/


/* 
================================================
4. Partnership Area Start
================================================
*/

.partner-title.partnership {
    padding-top: 80px;
}

.partner-title.partnership h2 {
    font-size: 37px;
    margin-bottom: 22px;
    font-weight: 700;
}

.partner-title.partnership h4 {
    font-size: 22px;
    color: #111111;
    margin-bottom: 40px;
}

.single-detail p{
    font-size: 18px;
    color: #aaaaaa;
    line-height: 30px;
}

.single-detail p.condition {
    color: #111111;
}


/* 
================================================
4. Partnership Area End
================================================
*/

/* 
================================================
5. Register Area Start
================================================
*/

.register-area {
    padding-bottom: 100px;
}

.partner-title.partnership.register h2 {
    margin-bottom: 50px;
}

.form-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.single-input, .text-area {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    padding: 20px 0 20px 30px;
}

.text-area, .check, .submit-btn {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
}

.text-area textarea, .single-input input {
    border: none;
    outline: none;
    width: 100%;
    color: #111111;
    font-size: 18px;
}

.text-area textarea::-webkit-input-placeholder, .single-input input::-webkit-input-placeholder {
    color: #aaaaaa;
}

.text-area textarea::-moz-placeholder, .single-input input::-moz-placeholder {
    color: #aaaaaa;
}

.text-area textarea:-ms-input-placeholder, .single-input input:-ms-input-placeholder {
    color: #aaaaaa;
}

.text-area textarea::-ms-input-placeholder, .single-input input::-ms-input-placeholder {
    color: #aaaaaa;
}

.text-area textarea::placeholder, .single-input input::placeholder {
    color: #aaaaaa;
}

.single-input select {
    width: 100%;
    font-size: 18px;
    border: none;
    color: #aaaaaa;
    outline: none;
}

.single-input.select {
    padding-right: 35px;
    position: relative;
}

span.select-arrow {
    position: absolute;
    right: 39px;
    font-size: 15px;
    top: 22px;
    background: #fff;
    color: #aaaaaa;
}

.single-input input#file {
    display: none;
}

.single-input label {
    margin: 0;
    height: 40px;
    width: 160px;
    background: #860132;
    color: #fff;
    line-height: 40px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
}

.single-input.upload-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #aaaaaa;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

span.max-word {
    display: block;
    margin: -20px -8px 15px auto;
    font-size: 16px;
    color: #aaaaaa;
}

.text-area {
    padding-bottom: 0;
}

.check input#check {
    display: none;
}

.check label {
    margin-bottom: 35px;
    cursor: pointer;
}

span.check-btn {
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    border-radius: 50%;
    background: #860132;
    color: #fff;
    margin-right: 10px;
    font-size: 11px;
}

span.check-btn i {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.check input[type=checkbox]:checked + label span.check-btn i {
    opacity: 1;
    visibility: visible;
}

.submit-btn button {
    border: 1px solid transparent;
    background: #860132;
    width: 235px;
    height: 60px;
    font-size: 17px;
    color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-radius: 35px;
}

/* 
================================================
5. Register Area End
================================================
*/


/* 
================================================
6. PartnerShip Page
================================================
*/


.partner-logo-area {
    background: #860132;
    padding: 25px 0;
}

.top-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.partner-logo .dropdown-toggle::after {
    margin-left: 5px;
    color: #fff;
}

.partner-logo .dropdown-menu {
    border: 1px solid #fff;
    BACKGROUND: #860132;
    -webkit-box-shadow: -4px 4px 7px 1px rgba(0, 0, 0, 0.59);
            box-shadow: -4px 4px 7px 1px rgba(0, 0, 0, 0.59);
    min-width: auto;
}

.partner-logo .dropdown-item {
    padding-left: 14px;
}

.partner-logo .dropdown img {
    height: 47px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.partner-tabs .nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 15px 10px 15px 20px;
    background: #fbfbfb;
    border-radius: 10px;
}

.partner-tabs .nav-pills .nav-link {
    font-size: 20px;
    background: transparent;
    margin-right: 10px;
    color: #858585;
    padding: 20px 45px;
}

.partner-tabs .nav-pills .nav-link.active {
    background: #860132;
    color: #fff;
}

.partner-tabs {
    margin-top: 35px;
}

.partner-title.p-box {
    padding-top: 60px;
    text-align: left;
}

.partner-title.p-box h2:after {
    left: 0;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
}

.single-box img {
    height: 115px;
    display: block;
    margin: 0 auto;
    margin-top: -30px;
}

.partner-box-llist {
    padding: 30px;
    border-radius: 10px;
    background: #f8f8f8;
}

ul#sortable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
}

ul#sortable li {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
}

.single-box {
    text-align: center;
    margin: 30px 0;
}

.box-content {
    width: 200px;
    height: 200px;
    border: 2px solid #bcbcbc;
    border-radius: 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    position: relative;
    background: #fff;
}

.logo-box-shape {
    position: absolute;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
}

.shape-line {
    display: block;
    width: 33px;
    height: 2px;
    background: #dadada;
    margin: 0 auto;
    margin-bottom: 2px;
}

span.shape-line.line-1 {
    width: 16px;
}

span.shape-line.line-2 {
    width: 25px;
}

.box-content.blank-img img {
    height: auto;
    margin-top: 0;
}

input#upload-logo {
    display: none;
}

.box-content.blank-img label {
    font-size: 14px;
    color: #858585;
    margin: 0;
    cursor: pointer;
}

.save-change-btn button {
    border: 1px solid #707070;
    background: transparent;
    width: 150px;
    height: 45px;
    margin-right: 15px;
    border-radius: 5px;
    font-size: 14px;
    color: #707070;
    font-weight: 500;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.save-change-btn {
    margin-left: 22px;
    margin-top: 70px;
}

.save-change-btn button.save {
    background: #860132;
    color: #fff;
}

.save-change-btn button.save:hover {
    border: 1px solid #860132;
    color: #860132;
    background: transparent;
}

.save-change-btn .cancel:hover {
    background: #860132;
    color: #fff;
}


.approve-area {
    background: #f8f8f8;
    border-radius: 10px;
    padding: 60px 15px 30px;
}

.org-logo img {
    height: 30px;
}

.single-approve-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    padding: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0 4px 10px 3px #eeeeee;
            box-shadow: 0 4px 10px 3px #eeeeee;
    margin-bottom: 30px;
}

.org-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.org-logo {
    padding: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #faf5f7;
    border-radius: 5px;
    margin-right: 10px;
}

.ort-title h5 {
    font-size: 13px;
    color: #111111;
    margin: 0;
    line-height: 1;
}

.ort-title a {
    display: block;
    font-size: 9px;
    color: #a6a6a6;
}

.approve-btn ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    border: 1px solid #858585;
    padding: 10px 10px;
    border-radius: 5px;
}

.approve-btn ul li button {
    border: 0;
    background: transparent;
    padding: 0 8px;
    color: #858585;
    outline: none;
}

.approve-btn ul li button.decline {
    color: #ff5858;
}

.approve-btn ul li button.approve {
    color: #37ec2a;
}

.approve-btn ul li {
    border-right: 1px solid #f2f2f2;
}

.approve-btn ul li:last-child {
    border: none;
}

.partner-title.p-box.requests {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.check-list {
    display: block;
    color: #fff;
    background: #860132;
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.check-list:hover {
    border: 1px solid #860132;
    color: #860132;
    background: transparent;
}


/*=====Partnership Data=======*/

.info-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
}

.info-title.bottom {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.si-ti-in {
    -ms-flex-preferred-size: 14%;
        flex-basis: 14%;
}

.info-title.top-title {
    font-size: 19px;
    font-weight: 700;
}

.si-ti-in.contact {
    -ms-flex-preferred-size: 18%;
        flex-basis: 18%;
}

.single-info-box .si-ti-in img {
    height: 45px;
}

.si-ti-in.email {
    -ms-flex-preferred-size: 17%;
        flex-basis: 17%;
}

.si-ti-in.logo {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
}

.partner-all-info {
    background: #f8f8f8;
    padding: 60px 50px;
    border-radius: 10px;
}

.single-info-box {
    background: #fff;
    padding: 30px 10px 30px  25px;
    margin-top: 30px;
    border-radius: 10px;
}

.info-title.top-title {
    padding-left: 15px;
}

.partner-info-content {
    margin-top: 40px;
    padding: 0 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.single-info-conent h6 {
    font-size: 16px;
    font-weight: bold;
    color: #111111;
}

.single-info-conent {
    padding: 0 25px;
}

.partner-info-content {
    color: #6d6d6d;
    font-size: 11px;
    line-height: 17px;
}

.pagination ul {
    list-style: none;
    display: block;
    margin: 0 auto;
}

.pagination ul li {
    display: inline-block;
    margin: 0 5px;
    height: 35px;
    width: 35px;
    background: #fff;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    font-size: 10px;
    overflow: hidden;
}

.pagination {
    margin-top: 40px;
}

.pagination ul li a {
    display: block;
    color: #2e2e2e;
}

.pagination ul li:first-child, .pagination ul li:last-child {
    background: transparent;
    height: auto;
    width: auto;
}

.pag-itm.active .pag-link {
    background: #860132;
    color: #fff;
}

.modal-dialog.partner-modal .info-title.top-title {
    padding: 0;
}

.part-titl {
    display: none;
}

#edit-partner-info input {
    border: none;
}

#edit-partner-info textarea {
    width: 100%;
    padding: 10px;
    border: none;
    min-height: 130px;
    font-size: 11px;
    color: #818181;
    line-height: 17px;
}

form#edit-partner-info .single-info-conent {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}



/* 
================================================
6. PartnerShip Page
================================================
*/

/*MODAL PopUps*/

.modal-dialog.partner-modal .single-info-box {
    padding-top: 0;
    margin-top: 0;
}
.modal-dialog.partner-modal {
    max-width: 100%;
    padding-left: 17px;
    padding-right: 17px;
}

div#exampleModal {
    padding-right: 0 !important;
}
#fwa{
  text-align: center !important;
  font-size: 20px !important;
}

#dyk{

  font-size: 3.4em !important;
    word-spacing: 10px;
    letter-spacing:10px;
    margin-top: -25px;
}
.profile-page .profile-description {
  margin-top: -30px;
  max-width: 450px;
  font-size: 1.49em !important;
  line-height: 30px;
}



@media screen and (max-width:768px) {
  .text-on-back {
    text-align: center;
    font-size: 7.5em;
  }
    .profile-page .profile-title {
      position: absolute;
      top: 180px;
      left: 50%;
      text-align: center !important;
      width: 100%;
      transform: translate(-50%, -50%);
      font-size: 1.8em;
  }
  .profile-page .profile-description {
    margin-top: 0px;
    max-width: 450px;
    font-size: 1.49em !important;
    line-height: 30px;
    margin-right: 0px !important;
    width: 100%;
    top: 60px;
    left: 0px;
    max-width: 100%;
  }
  a.btn-simple.btn.btn-info {
    display: block;
    margin: auto;
    top: 20px;
    left: 70%;
  }
  #dyk {
    font-size: 2.8em !important;
    word-spacing: 10px;
    letter-spacing: 10px;
    margin-top: -25px;
    top: 230px;
  }
  #c {
    height: 60px;
    width: 150px;
    margin-top: 35px;
    margin-left: 55px;
  }
}
@media screen and (max-width:470px) {
  .btn-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .vline {
    height: 30px;
    width: 2px;
    background-color: #aaa;
    margin: 20px 0px;
  }
  img#k {
    width: 200px;
    height: auto;
    padding:10px;
  }
  img#gts {
    width: 200px;
    height: auto;
    padding:10px;
  }
  img#wj {
    width: 200px;
    height: auto;
    padding:10px;
  
  }
  img#b {
    width: 180px;
    height: auto;
    padding:10px;
  }
  img#b {
    width: 180px;
    height: auto !important;
    padding:10px;
  }
  #m {
    width: 190px;
    margin-left: 50px;
  }
  img#cu {
    width: 180px;
   height: auto;
    margin-top: 20px;
    padding:10px;
  }
  img#m {
    width: 180px;
    height: auto;
    margin-top: 0;
    padding:10px;
  }
  img#c {
    width: 180px;
    height: auto;
    margin-top: 20px;
    padding:10px;
  }
  img#fd {
    width: 180px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding:10px;
  }
}


@media (max-width:420px) {
  h1#f {
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  button.kave-btn2 {
    width: inherit;
    height: inherit;
    padding: 10px;
    margin-right: 10px;
  }
  button.kave-btn {
    width: inherit;
    height: inherit;
    padding: 10px;
    margin-left: 10px;
  }
  .section-about-wrapper .-heading {
    font-size: 32px !important;
    width: 100%;
    text-align: center;
  }
  .section-about-wrapper .-label {
    width: 100%;
    text-align: center;
  }
  section#about {
    min-height: 100%;
    height: 100%;
  }
  p {
    width: 100%;
    padding: 10px;
  }


}
@media (max-width:376px) {
  .page-header .content-center {
    position: absolute;
    top: -100px;
    left: 50%;
  }
  h1#f {
    top: 0px;
    left: -30px;
    right: 0px;
    transform: none;
  }
  .btn-wrapper {
    margin-top: 20px;
  }
  .btn-wrapper.profile {
    left: 0;
    right: 0;
    min-height: inherit;
    height: 150px;
    margin-bottom: 60px;
  }
  .section-about-wrapper {
    z-index: 3;
    text-align: center;
    position: inherit;
    margin-top: 20px;
  }
  .footer .title {
    text-align: center !important;
  }
}